<!DOCTYPE html>
<html>
  <head>
    <title>Ecom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
    <nav class="flex w-full">Help Needed</nav>
    </main>
  </body>
</html>
